@charset "utf-8";
/*用车流程*/

.div{   
      width:80%;
      margin: 60px auto;
      border: solid 1px;
      border-color:#CCC;
    }


.div1{
	font-family: "微软雅黑";
	background-color: #CCC;
	font-size: 18px;
	width: 80%;
	margin: auto;
	line-height: 2.4em;
	letter-spacing: 0.1em;
	border: solid 20px;
	border-color: #FFF;
	padding: 10px;
	
    }
	
	
.p {
	 font-size: 24px;
	 font-family: "微软雅黑";
	 text-align: center;
	 margin:auto;
	
	}
	
/*轮播图*/

/*通用样式*/

  *{    
     margin:0px auto;
	 padding: 0px; 
	 }
	 
 img{
	 border:0;
     display:block;}
	 
 ol, ul ,li{
	 list-style: none;
	 }
       
 
      
.pointer{
	     height:4px;
         position:absolute;
         bottom:0px;
		 }
		 
.pointer li{
	        width:42px;
            height:1px;  
            background:#5a5a5a;
            float:left;
            margin:0 5px;
            cursor: pointer;
			}
			
.pointer li.now{
	      height:4px;
	      background:#c8c8c8;
		  }
		  
.cut{
	     background: #333;
         position:absolute;
         font-family:'微软雅黑';  
         color:#fff;
         text-align:center;
         cursor:pointer;
        opacity:0.2;
	}
	
.J_banner{
	     max-width:90%;
		 position:relative;
		 overflow:hidden;
		 margin:0 auto 10px;
		}
        
.J_banner .img{ 
	     width:70%;
		 height:100%;
		 overflow:hidden;
		 position:absolute;
		 top:0;
		 left:0;
		 }
		 
.J_banner .img li{
			float:left;
			position:relative;
			}
			
.J_banner1 .pointer{
			width:100px;
			height:15px;
			position:absolute;
			bottom:16px;
			left:50%;
			}
			
.J_banner1 .pointer li{
	    width:15px;
		height:15px;
		background:#d0d0d0;
		border-radius:50%;
		margin:0 5px;
		float:left;
		}
		
.J_banner1 .pointer li.now{
			background: #666;
			}
			
.J_banner .cut{
	    width:34px;
		height:58px;
		left:20px;
		font-size:18px;
		line-height:58px;
		}
		
.J_banner .cut.next{
			left:auto;
			right:20px;
			}
        
