a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: #f60;
}
body {
    font-family: "微软雅黑";
}
*{
    padding: 0;
    margin: 0;
}

#header {
    width: 100%;
    height: 70px; 
    background-color: #F4F4F4;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .05);
    position: fixed;
    top: 0px;
    overflow: hidden;
    z-index: 2;
}
#shang {
    margin-top: 100px;
}
#nva {
    margin: 0 auto;
    min-width: 800px;
    max-width: 1280px;
    overflow: hidden;
}
#logo {
    float: left;
    margin-left: 40px;
    margin-top: 8px;
}
.logo_img {
    width: 100px;
    height: 66px;
}
#title {
    float: left;
    height: 70px;
    margin: 0;
    padding: 0;
    margin-left: 130px;
}
#title li {
    list-style: none;
    float: left;
    margin-right: 60px;
    height: 70px;
    line-height: 80px;
}

#login_and_re {
    float: right;
    margin-right: 100px;
    height: 70px;
}
.login {
    margin-right: 60px;
    height: 70px;
    line-height: 80px;
    color: rgb(114, 116, 224);
}
.re {
    height: 70px;
    line-height: 80px;
    padding: 10px 25px 10px 25px;
    border: 2px solid rgb(88, 88, 235);
    border-radius: 10px;
    color: black;
}
.re:hover {
    background-color: rgb(88, 88, 235);
    color: white;
}

.one {
    font-size: 50px;
    margin-bottom: 50px;
    padding-left: 100px;
    padding-top: 50px;
}
.two {
    float: left;
    margin-bottom: 0;
    padding-left: 100px;
}
#pic {
    height: 350px;
}
.img1 {
    position: absolute;
    top:3200px;
    right: 250px;
    width: 500px;
    height: 200px;
}
.i {
    clear: both;
}
.img2 {
    position: absolute;
    top:3470px;
    right: 200px;
    width: 530px;
    height: 250px;
}
.weixin .img9{
    position: absolute;
    visibility: hidden;
    
    width: 250px;
    height: 250px;
}
#button{
    
    padding-left: 150px;
    padding-bottom: 50px;
}
#photo li{
    padding-left: 100px;
    padding-bottom: 50px;
    list-style: none;
    float: left;
}
#photo li img{
    width: 150px;
    height: 50px;
}
#contact{
    text-align: center;
}
.weixin{
    height: 70px;
    line-height: 80px;
    padding: 10px 25px 10px 25px;
    border: 2px solid rgb(88, 88, 235);
    background-color: rgb(88, 88, 235);
    border-radius: 10px;
    color: white;
}
.weixin:hover .img9{
    visibility: visible;
    position: absolute;
    left: 120px;;
    top:3530px;
    width: 230px;
    height: 230px;
}
