
/*对话一*/
.divone{
	margin-top:100px;
	margin-bottom:80px;
	}
.dialog5{
	text-align:right;
	color:#0C3;
	}
.dialog6{
	text-align:left;
	color:#09F;
	}
.dialog7{
	text-align:right;
	color:#0C3;
	}
/*对话2*/
.div1{
	margin-top:100px;

	}
.dialog1{
	text-align:left;
	color:#09F;
	}
.dialog2{
	text-align:right;
	color:#0C3;
	}
.dialog3{
	text-align:left;
	color:#09F;
	}
.dialog4{
	text-align:right;
	color:#0C3;
	}
.div2{
	width:100%;
	height:500px;
	margin-top:100px;
	}
.yuang_z{
	float:left;
	width:50%;
	height:500px;
	}
.yuang_z p{
	font-family:"微软雅黑";
	font-size:18px;
	line-height:45px;
	}
.yuang_y{
	float:right;
	width:50%;
	height:500px;
	}
/*传奇车的特色*/
.div3{
	margin-top:100px;
	margin-bottom:60px;
	width:100%;
	height:700px;
	}
.ts_s{
	width:100%;
	height:350px;
	
	}
.ts_s_one{
	float:left;
	width:30%;
	height:350px;
	text-align:right;
	}
.ts_s_one p{
	font-family:"微软雅黑";
	font-size:18px;

	}
.ts_s_two{
	float:left;
	width:40%;
	height:350px;
	text-align:center;
	}
.ts_s_three{
	float:right;
	width:30%;
	height:350px;
	}
.ts_x{
	width:100%;
	height:350px;
	}
.ts_x_one{
	float:left;
	width:25%;
	height:350px;
	text-align:right;
	}
.ts_x_one p{
	font-family:"微软雅黑";
	font-size:18px;
	}
.ts_x_two{
	float:left;
	width:25%;
	height:350px;
	text-align:right;
	}
.ts_x_three{
	float:left;
	width:25%;
	height:350px;
	text-align:left;
	}

.ts_x_four{
	float:left;
	width:25%;
	height:350px;
	}
.ts_x_four p{
	font-family:"微软雅黑";
	font-size:18px;
	}
/* CSS Document */


/*手机端*/

.shouji{
	padding:10px;
	width:100%;
	height:600px;
	background-color:#f1f1f1;
	margin-bottom:80px;
	
	}
.shouji_z{
	float:left;
	width:50%;
	height:600px;
	position:relative;
	}
.shouji_z p{
	font-family:"微软雅黑";
	line-height:50px;
	font-size:18px;
	}
.gzh{
	width:150px;
	height:50px;
	position:absolute;
	left:100px;
	bottom:80px;
	background-color:#06F;
	color:#FFF;
	line-height:50px;
	text-align:center;
	}
.imgG{
	position:absolute;
	left:0px;
	bottom:60px;
	width:160px;
	height:160px;
	display:none;
	}
h3:hover+.imgG{
	display:block;
	}

.shouji_y{
	float:right;
	width:50%;
	height:600px;
	}
.shouji_y_s{
	width:100%;
	height:300px;
	
	}
.shouji_y_x{
	width:100%;
	height:300px;
	}
/*合作伙伴*/
.hzhb{
	width:100%;
	height:160px;
	margin-top:30px;
	}
.first{
	float:left;
	width:0.5%;
	height:100px;
	}
.one{
	float:left;
	width:16.5%;
	height:100px;
	}
.two{
	float:left;
	width:16.5%;
	height:100px;
	}
.three{
	float:left;
	width:16.5%;
	height:100px;
	}
.four{
	float:left;
	width:16.5%;
	height:100px;
	}
.five{
	float:left;
	width:16.5%;
	height:100px;
	}
.six{
	float:left;
	width:16.5%;
	height:120px;
	}
.left{
	float:left;
	width:0.5%;
	height:100px;
	}
.bottom{
	margin-top:20px;
	padding-top:20px;
	width:100%;
	height:200px;
	text-align:center;
	background-color:#06F;
	font-family:"微软雅黑";
	font-size:20px;
	line-height:40px;
	color:#FFF;
}
	/* CSS Document */

